* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    background: linear-gradient(#4848C2, #00D4FF);
    display: flex;
    justify-content: center;
    align-items: center;
    
    .box {
        width: 100%;
        margin: 0rem 1rem;
        background-color: #eae6e6;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 2rem 1rem;
        backdrop-filter: 5px;
        border-radius: 0.7rem;
        box-shadow: 2px 3px 12px rgb(14, 13, 13);
         position: relative;
        h1 {
            font-size: 1.5rem;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
        }

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: 1rem;

            .input-text {
                border-radius: 0.3rem;
                width: 100%;
                background-color: #fff;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0.5rem 2rem;

                label {
                    font-size: 1.4rem;
                    font-weight: 700;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }

                .text-input {
                    border: none;
                    border-bottom: 1.3px solid blue;
                    width: 50%;
                    outline: none;
                    font-size: 1.5rem;
                    text-align: center;
                }
            }

            .gender {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #fff;
                width: 100%;
                padding: 1rem 1.5rem;
                border-radius: 0.3rem;

                .usermale {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    label {
                        font-family: Arial, Helvetica, sans-serif;
                    }
                    #male{
                        width: 25px;
                        height: 25px;
                    }
                }

                .userfemale {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    label {
                        font-family: Arial, Helvetica, sans-serif;
                    }
                       #female{
                        width: 25px;
                        height: 25px;
                    }
                }
            }

            .containerhw {
                width: 100%;
                display: flex;
                align-items: center;
                padding: 0.8rem 1rem;
                background-color: #fff;
                border-radius: 0.3rem;

                .inputh,
                .inputw {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 1rem;
                    font-family: Arial, Helvetica, sans-serif;
                    gap: 1rem;
                    // text-align: center;
                    #numberw {
                        width: 50%;
                        border: none;
                        border-bottom: 1.3px solid rgba(9, 9, 224, 0.779);
                        outline: none;
                        font-size: 1.5rem;
                         text-align: center;
                    }

                    #numberh {
                        width: 50%;
                        border: none;
                        border-bottom: 1.3px solid rgba(0, 0, 255, 0.846);
                        outline: none;
                        font-size: 1.5rem;
                        text-align: center;
                    }
                }
            }

            .btn {
                width: 100%;
                padding: 0.5rem 2rem;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1rem;
                background-color: rgb(10, 161, 220);
                border: none;
                border-radius: 0.3rem;
            }
        }

        .calculate {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            width: 100%;

            >p {
                font-size: 1.5rem;
                font-weight: 600;
                font-family: Arial, Helvetica, sans-serif;
            }

            .result {
                font-size: 1.5rem;
                color: rgb(6, 181, 250);
                font-weight: 800;
                 font-family: Arial, Helvetica, sans-serif;
            }
        }
    }
        .model-content{
            width: 95%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background-color: #f6f2f2ed;
            padding: 1rem 1.4rem;
            opacity: 0;
            border-radius: 0.3rem;
            p{
                font-size: 1rem;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 600;
                text-align: center;

            }
            .close{
                font-size: 1.5rem;
                font-weight: 900;
                cursor: pointer;
            }
        }
}

@media(min-width:800px) {
    .container {
        width: 100%;
        padding: 2rem;

        .box {
            width: 40%;
            padding: 2rem;

            h1 {
                font-size: 2.5rem;
            }

            .content {
                .input-text {
                    label {
                        font-size: 2rem;
                    }
                    .text-input{
                        width: 40%;
                    }
                }
                .gender{
                   font-size: 1.5rem;
                   .usermale,.userfemale{
                      label{
                        cursor: pointer;
                     }
                   }
                }
                .containerhw{
                    .inputh,.inputw{
                        font-size: 1.5rem;
                        cursor: pointer;
                    }
                }
                .btn{
                    padding: 1rem 2rem;
                    font-size: 1.5rem;
                    cursor: pointer;
                }
            }
            .calculate{
                p{
                    font-size: 2rem;
                }
                .result{
                    font-size: 2rem;
                }
            }
        }
        .model-content{
            width: 45%;
            border-radius: 0.5rem;
            p{
                font-size: 1.5rem;
            }
            .close{
             font-size: 2rem;
            }
        }
    }
}